@import url(./fonts.css);
.texto{
    position: absolute;
    font-family: 'extra-ligth';
    top: 5vw;
    left: 44vw;
    font-size: 3vw;
}
.fecha{
    position: absolute;
    font-family: 'fechas';
    top: 9vw;
    left: 44.5vw;
    font-size:5vw;
    font-weight: 100;
}
#escuderiasApi{
    left: 8vw;
    position: absolute;
    top: 20vw;
    width: 10vw;
    height:10vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
    gap: 5vw;
    margin:2vw;
}
.images{
    width: 15vw;
    height:15vw;
}
.escuderiaNames{
    font-family: 'ligth';
    font-size: 2.5vw;
}
.escuderiasSeccion{
    border: 0.1vw solid black;
    width: 35vw;
    height: 25vw;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
    border-bottom-left-radius: 2vw;
    padding: 1vw;
}
.carro{
    position: absolute;
}



#escuderiasIndividual{
    position: absolute;
    top: 19vw;
    left: 10vw;
    background-color: black;
    width: 80vw;
    height: 65vw;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
    border-bottom-left-radius: 2vw;
    align-items: center;
    text-align: center;
}
.escuderia-logo{
    position: absolute;
    width: 10vw;
    top: 12vw;
    left: 5vw;
    background-color: white;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
    border-bottom-left-radius: 2vw;
}
.nombre{
    position: absolute;
    top: 3vw;
    font-family: 'regular';
    color: white;
    font-size: 3vw;
    text-align: center;
    width: 80vw;
}
.pais{
    position: absolute;
    color: white;
    font-family: 'ligth';
    font-size: 1.5vw;
    left: 25vw;
    top: 17vw;
}
.motor{
    position: absolute;
    color: white;
    font-family: 'ligth';
    font-size: 1.5vw;
    left: 25vw;
    top: 12vw;
}

#cerrarDetalle{
    color: black;
    background-color: white;
    font-family: 'regular';
}
.pilotoss{
    position: absolute;
    top: 23vw;
    left: 37vw;
    font-family: 'regular';
    color: white;
    font-size: 2vw;
}

#pilotosEscuderia{
    position: absolute;
    top: 30vw;
    left: 10vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60vw;
    color: black;
    font-family: 'ligth';
    gap: 3vw;
    
}
.piloto-foto{
    width: 20vw;
}
.piloto-card{
    background-color: white;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
    border-bottom-left-radius: 2vw;
    font-size: 1.5vw;
}
button{
    position: absolute;
    top: 3vw;
    left: 65vw;
    font-family: 'regular';
    font-size: 1.5vw;
    color: black;
    background-color: white;
    width: 10vw;
    height: 2vw;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
    border-bottom-left-radius: 2vw;
    text-align: center;
}