@import url(./fonts.css);
body, html{
      background-color: #FFFFFF;
      
}
header{
      z-index: initial
}
.logoF1{
      position: absolute;
      width: 10vw;
      left: 6vw;

}
.circuitos{
      position: absolute;
      font-family: 'regular';
      font-size: 1.8vw;
      left: 20vw;
      top: 0.5vw;
      text-decoration: none;
      color: black;
}
.escuderias{
      position: absolute;
      font-family: 'regular';
      font-size: 1.8vw;
      left: 35vw;
      top: 0.5vw;
      text-decoration: none;
      color: black;
}
.pilotos{
      position: absolute;
      font-family: 'regular';
      font-size: 1.8vw;
      left: 50vw;
      top: 0.5vw;
      text-decoration: none;
      color: black;
}
.vehiculos{
      position: absolute;
      font-family: 'regular';
      font-size: 1.8vw;
      left: 65vw;
      top: 0.5vw;
      text-decoration: none;
      color: black;
}
.simulacion{
      position: absolute;
      font-family: 'regular';
      font-size: 1.8vw;
      left: 80vw;
      top: 0.5vw;
      text-decoration: none;
      color: black;
}
.circuitos:hover,
.escuderias:hover,
.pilotos:hover,
.vehiculos:hover,
.simulacion:hover {
    color: red;
}
.españa{
      position: absolute;
      width: 40vw;
      height: 30vw;
      left: 48vw;
      top: 8vw;
}
.titulo{
      position: absolute;
      font-family: 'semi-bold';
      top: 8vw;
      left: 8vw;
      font-size: 2.3vw;
}
.circuito{
      position: absolute;
      font-family: 'ligth';
      font-size: 1.9vw;
      top: 12vw;
      left: 10vw;
}
.info{
      text-align: center;
      position: absolute;
      font-family: 'ligth';
      font-size: 1.9vw;
      top: 16vw;
      left: 15vw;
}
.boton{
      position: absolute;
      font-size: 1.5vw;
      font-family: 'ligth';
      top: 30vw;
      left: 15vw;
      border: 0.1vw solid black;
      color: white;
      background-color: #B80000;
      border-radius: 5vw;
      width: 15vw;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 
      0 6px 10px rgba(86, 150, 223, 0.3);
}
.ultimos{
      position: absolute;
      font-family: 'semi-bold';
      top: 35vw;
      left: 8vw;
      font-size: 2.3vw;
}
.granPremioMonaco{
      position: absolute;
      top: 43vw;
      border: 0.12vw solid black;
      width: 80vw;
      height: 20vw;
      left: 8vw;
      border-top-left-radius: 2vw;
      border-top-right-radius: 2vw;
      border-bottom-right-radius: 2vw;
      border-bottom-left-radius: 2vw;
}
.tituloGran{
      position: absolute;
      font-family: 'semi-bold';
      top: 0vw;
      left: 2vw;
      font-size: 2vw;  
}
.location{
      text-align: center;
      position: absolute;
      font-family: 'ligth';
      font-size: 1.8vw;
      top: 2vw;
      left: 2vw;
      color: #524F4F;
}
.carro{
      position: absolute;
      width: 13vw;
      top: 1vw;
      left: 65vw;
}
.primero{
      text-align: center;
      position: absolute;
      font-family: 'ligth';
      font-size: 1.8vw;
      top: 8vw;
      left: 13vw;
      color: #524F4F;
}
.segundo{
      text-align: center;
      position: absolute;
      font-family: 'ligth';
      font-size: 1.8vw;
      top: 8vw;
      left: 38vw;
      color: #524F4F; 
}
.tercero{
      text-align: center;
      position: absolute;
      font-family: 'ligth';
      font-size: 1.8vw;
      top: 8vw;
      left: 66vw;
      color: #524F4F;
}
.max{
      text-align: center;
      position: absolute;
      font-family: 'ligth';
      font-size: 1.8vw;
      top: 11vw;
      left: 11.5vw;
      color: black;
}
.red{
      text-align: center;
      position: absolute;
      font-family: 'ligth';
      font-size: 1.5vw;
      top: 14vw;
      left: 13vw;
      color: #524F4F;
}
.charles{
      text-align: center;
      position: absolute;
      font-family: 'ligth';
      font-size: 1.8vw;
      top: 11vw;
      left: 38vw;
      color: black;
}
.Ferrari{
      text-align: center;
      position: absolute;
      font-family: 'ligth';
      font-size: 1.5vw;
      top: 14vw;
      left: 42vw;
      color: #524F4F;
}
.lewis{
      text-align: center;
      position: absolute;
      font-family: 'ligth';
      font-size: 1.8vw;
      top: 11vw;
      left: 65vw;
      color: black;
}
.Mercedes{
      text-align: center;
      position: absolute;
      font-family: 'ligth';
      font-size: 1.5vw;
      top: 14vw;
      left: 68vw;
      color: #524F4F;
}
.uno{
      position: absolute;
      top: 11.5vw;
      left: 3vw;
      width: 5.5vw;
}
.dos{
      position: absolute;
      top: 11.5vw;
      left: 30vw;
      width: 5.5vw;
}
.tres{
      position: absolute;
      top: 11.5vw;
      left: 57vw;
      width: 5.5vw;
}
.news{
      position: absolute;
      font-family: 'semi-bold';
      top: 65vw;
      left: 8vw;
      font-size: 2.3vw;
}
.n1{
      position: absolute;
      top: 75vw;
      left: 4vw;
      border: 0.14vw solid black;
      width: 28vw;
      height: 23vw;
      border-top-left-radius: 2vw;
      border-top-right-radius: 2vw;
      border-bottom-right-radius: 2vw;
      border-bottom-left-radius: 2vw;
}
.IMG1{
      position: absolute;
      width: 28vw;
      top: 0vw;
      
}
.fecha1{
      text-align: center;
      position: absolute;
      font-family: 'ligth';
      font-size: 1.56vw;
      color: black;
      top: 13vw;
      left: 1vw;
}
.text1{
      text-align: left;
      position: absolute;
      font-family: 'regular';
      font-size: 1.55vw;
      color: black;
      top: 15vw;
      left: 1vw;
}
.n2{
      position: absolute;
      top: 75vw;
      left: 35vw;
      border: 0.14vw solid black;
      width: 28vw;
      height: 23vw;
      border-top-left-radius: 2vw;
      border-top-right-radius: 2vw;
      border-bottom-right-radius: 2vw;
      border-bottom-left-radius: 2vw;
}
.IMG2{
      position: absolute;
      width: 28vw;
      top: 0vw;
      
}
.fecha2{
      text-align: center;
      position: absolute;
      font-family: 'ligth';
      font-size: 1.56vw;
      color: black;
      top: 13vw;
      left: 1vw;
}
.text2{
      text-align: left;
      position: absolute;
      font-family: 'regular';
      font-size: 1.55vw;
      color: black;
      top: 15vw;
      left: 1vw;
}
.n3{
      position: absolute;
      top: 75vw;
      left: 66vw;
      border: 0.14vw solid black;
      width: 28vw;
      height: 23vw;
      border-top-left-radius: 2vw;
      border-top-right-radius: 2vw;
      border-bottom-right-radius: 2vw;
      border-bottom-left-radius: 2vw;
}
.IMG3{
      position: absolute;
      width: 28vw;
      top: 0vw;
}
.fecha3{
      text-align: center;
      position: absolute;
      font-family: 'ligth';
      font-size: 1.56vw;
      color: black;
      top: 13vw;
      left: 1vw;
}
.text3{
      text-align: left;
      position: absolute;
      font-family: 'regular';
      font-size: 1.55vw;
      color: black;
      top: 15vw;
      left: 1vw;
}
.final{
      position: absolute;
      top: 100vw;  
      left: 0vw;
      width: 100vw;
      height: 5vw;
      background-color: black;
      text-align: center;
}
.pieDePagina{
      color: white;
      font-family: 'regular';
      font-size: 1.55vw;

}


@media screen and (max-width: 430px) {
}
header {
height: 20vw;
position: relative;
}


.logoF1 {
width: 25vw;
left: 37.5vw;
top: 2vw;
}


.circuitos {
font-size: 2.8vw;
left: 5vw;
top: 12vw;
}

.escuderias {
font-size: 2.8vw;
left: 25vw;
top: 12vw;
}

.pilotos {
font-size: 2.8vw;
left: 45vw;
top: 12vw;
}

.vehiculos {
font-size: 2.8vw;
left: 65vw;
top: 12vw;
}

.simulacion {
font-size: 2.8vw;
left: 85vw;
top: 12vw;
}


.españa {
      width: 40vw;
      height: auto;
      aspect-ratio: 4/3;
      left: 50vw;
      top: 30vw;
}

.titulo {
      top: 35vw;
      left: 5vw;
      font-size: 5vw;
      width: 40vw;
}

.circuito {
      top: 60vw;
      left: 22vw;
      font-size: 4vw;
      width: 80vw;
}

.info {
      top:68vw;
      left: 8vw;
      font-size: 4vw;
      width: 80vw;
}

.boton {
      top: 95vw;
      left: 35vw;
      font-size: 4vw;
      width: 30vw;
      padding: 2vw 0;
      text-align: center;
}

.ultimos {
      top: 110vw;
      left: 10vw;
      font-size: 5vw;
}

.granPremioMonaco {
      top: 120vw;
      left: 5vw;
      width: 90vw;
      height: 60vw;
      border-radius: 3vw;
}

.tituloGran {
      font-size: 4.5vw;
      top: 2vw;
}

.location {
      font-size: 3.5vw;
      top: 8vw;
}

.carro {
      width: 20vw;
      top: 3vw;
      left: 68vw;
}


.primero {
      font-size: 3.8vw;
      top: 15vw;
      left: 8vw;
}

.segundo {
      font-size: 3.5vw;
      top: 29vw;
      left: 8vw;
}

.tercero {
      font-size: 3.5vw;
      top: 43vw;
      left: 8vw;
}

.max {
      font-size: 3.5vw;
      top: 19vw;
      left: 8vw;
}

.red {
      font-size: 3vw;
      top: 23vw;
      left: 8vw;
}

.charles {
      font-size: 3.5vw;
      top: 33vw;
      left: 8vw;
}

.Ferrari {
      font-size: 3vw;
      top: 37vw;
      left: 8vw;
}

.lewis {
      font-size: 3.5vw;
      top: 47vw;
      left: 8vw;
}

.Mercedes {
      font-size: 3vw;
      top: 52vw;
      left: 8vw;
}

.uno {
      top: 20vw;
      left: 50vw;
      width: 12vw;
}

.dos {
      top: 35vw;
      left: 50vw;
      width: 12vw;
}

.tres {
      top: 48vw;
      left: 50vw;
      width: 12vw;
}


.news {
      top: 180vw;
      left: 10vw;
      font-size: 5vw;
}


.n1 {
      top: 200vw;
      left: 5vw;
      width: 90vw;
      height: 70vw;
      border-radius: 3vw;
}

.IMG1 {
      width: 90vw;
      height: 40vw;
      object-fit: cover;
}

.fecha1 {
      font-size: 3.5vw;
      top: 45vw;
      left: 5vw;
}

.text1 {
      font-size: 4vw;
      top: 50vw;
      left: 5vw;
      width: 80vw;
}

.n2 {
      top: 280vw;
      left: 5vw;
      width: 90vw;
      height: 70vw;
      border-radius: 3vw;
}

.IMG2 {
      width: 90vw;
      height: 40vw;
      object-fit: cover;
}

.fecha2 {
      font-size: 3.5vw;
      top: 45vw;
      left: 5vw;
}

.text2 {
      font-size: 4vw;
      top: 50vw;
      left: 5vw;
      width: 80vw;
}

.n3 {
      top: 360vw;
      left: 5vw;
      width: 90vw;
      height: 70vw;
      border-radius: 3vw;
}

.IMG3 {
      width: 90vw;
      height: 40vw;
      object-fit: cover;
}

.fecha3 {
      font-size: 3.5vw;
      top: vw;
      left: 5vw;
}

.text3 {
      font-size: 4vw;
      top: 50vw;
      left: 5vw;
      width: 80vw;
}


.final {
      top: 470vw;
      height: 15vw;
}

.pieDePagina {
      font-size: 3.5vw;
      padding-top: 5vw;
}