@import url(./fonts.css);
.texto{
    position: absolute;
    font-family: 'extra-ligth';
    top: 5vw;
    left: 45vw;
    font-size: 3vw;
}
.fecha{
    position: absolute;
    font-family: 'fechas';
    top: 9vw;
    left: 43.5vw;
    font-size:5vw;
    font-weight: 100;
}
#pilotosApi{
    position: absolute;
    top: 20vw;
    left: 8vw;
    width: 2vw;
    height:2vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    gap: 8vw;
    margin: 3vw;
}
.pilotosSeccion {
    position: relative;
    width: 20vw;
    height: 26vw;
    background-color: #fff;
    border: 2px solid #000;
    overflow: hidden;
    text-align: center;
}

.Breaking {
    position: absolute;
    top: -1.2vw;
    left: 0vw;
    height: 3vw;
    width: 20vw;
    background-color: #000;
    color: white;
    font-size: 1.8vw;
    padding: 3px 8px;
    z-index: 2;
}

.top-corner {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5vw 5vw 0 0;
    border-color: #000 transparent transparent transparent;
    z-index: 1;
}

.image {
    position: absolute;
    top: -0.5vw;
    right: 16vw;
    width: 3vw;
    height: auto;
    z-index: 2;
}

.images {
    position: absolute;
    top: 3vw;
    width: 80%;
    left: 1.5vw;
    object-fit: cover;
    display: block;
}

.pilotosNames {
    font-size: 1.5vw;
    font-family: 'ligth';
    margin-top: 19vw;
    text-align: center;
    color: #000;
}

.pilotosequipos {
    position: absolute;
    font-size: 1.5vw;
    font-family: 'ligth';
    top: 20vw;
    left: 5vw;
    color: #666;
    text-align: center;
    width: 10vw;
}

.down-corner {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 4vw 4vw;
    border-color: transparent transparent #000 transparent;
}